@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

body{
    font-family: 'Poppins';
    background-color: #031926;
    color: white;
}

.container{
    padding-top: 20px;
}

.custom-table{
    background-color: #031926;
    color: white;
}

.lista-compra {
    width: 80%;
    margin: 0 auto;
}

.item-compra {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item-compra p {
    flex: 1;
    margin: 0;
}

.item-compra input {
    width: 50px;
    margin-right: 10px;
}

.item-compra button {
    background-color: #ff5252;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.item-compra button:hover {
    background-color: #ff1744;
}
